.main {
  padding: 20px 20px 60px;
  margin: 0 auto;
}

.hr {
  border: none;
  border-bottom: 1px solid #efefef;
  margin: 3em auto;
}

.top{
  display: flex;
  align-items:center;
  justify-content:space-between;
  background-color: "#f0f0f0";
}

.items{
  display: flex;
  flex-direction: column;
  justify-content: center;
}