.box{
    margin:10px;
    background: #FFFFFF;
    box-shadow: 5px 5px 20px rgba(133, 133, 133, 0.2);
    border-radius: 30px;
    display:flex;
    justify-content:space-between;
    padding:10px;
    vertical-align:middle;
    width:400px;
    align-items: center;
}

.img{
    max-width: 200px;
    height:150px;
    width:150px;
    object-fit:cover;
    border-radius: 30px;
}

.details{
    display:flex;
    flex-direction: column;
    width:50%;

}

.desc{
    font-size:0.85em;
    margin-top:-15px;
    color:#434343;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    height:50px;
}

.actions {
    justify-content:space-between;
    display:flex;
    font-size: 1.25em;
    padding:0.5rem;
    vertical-align: middle;
    margin-top: 40px;
}

@media (min-width: 300px) {
    .box{
        margin-left: -45px;
        transform: scale(0.85);

    }
}



@media (min-width: 600px) {
    .box{
        width: 500px;
    }
}

@media (min-width: 800px) {
    .box{
        width: 350px;
    }
}

@media (min-width: 1000px) {
    .box{
        width: 450px;
    }
}

@media (min-width: 1300px) {
    .box{
        width: 550px;
    }
}

.add{
    background-color: aquamarine;
}